/*sessões*/
header {
    background-color: #ffffff;
    color: rgb(0, 155, 13);
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 0;
    text-align: center;
    height: 300px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #d8d8d8;
    padding: 10px 0;
    text-align: center;
    border-radius: 0px;
    background: #feffe9;
    box-shadow: -9px 9px 20px #d5d5d5,
        9px -9px 20px #ffffff;

}

nav ul {
    list-style-type: none;
    background-color: rgb(106, 252, 61);
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
    height: 35px;
}

nav ul li {
    display: inline;
    margin: 0 10px;

}

.desc {
    font-size: 30px;
    background-color: #23c483;
    border-radius: 0px;
    background: #23c483; 
    color: #ffffff; 
    text-align: center; 
    padding: 10px; 
    position: fixed;
    top: 200px;
    left: 0; 
    width: 100%; 
    box-shadow: -9px 9px 20px #d5d5d5, 9px -9px 20px #ffffff;
}

.contato{
    background-color: #feffe9;
    position: fixed;
    top: 50px;
    left: 1400px;
    font-size: 50px;
    width: 400px;
    height: 100px;

}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; /* Isso define a sobreposição da div sobre outros elementos */
    display: none; /* Inicialmente, a div está oculta */
}
.overlay img {
    position: relative;
    left: 35%;
    top: 200px;
    max-width: 600px;
    max-height: 600px;
    width: 600px;
    height: 600px;
}


main {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
    margin-left: 650px;
    margin-right: 650px;
}

h1:hover {
    color: rgba(0, 155, 13, 0.753);
}

a {
    text-decoration: none;
    font-size: 30px;
    color: #333;
}

a:hover {
    font-size: 30px;
    color: #9e9e9e;
}

#ad {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#ad:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#ad:active {
    transform: translateY(-1px);
}

  /*rede social*/
  .parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .child:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px rgb(1, 49, 182);
  }
  
  button {
    border: none;
    background-color: transparent;
    font-size: 40px;
  }
  
  .button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
  }
  

/*Finalizar compras*/
.final {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
  }
  
  .final:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  .final:before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .final:hover::before {
    width: 250%;
  }
  


/* Estilos para os produtos */
.produto {
    width: 800px;
    border: 1px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    margin-left: 530px;
    margin-right: 600px;
    border-radius: 20px;
    background: #f2f2f2;
    box-shadow: -13px 13px 32px #d3d3d3,
        13px -13px 32px #ffffff;
}
.produto p{
    text-align: justify;
    max-width: 500px;
    margin:0 auto;
    margin-bottom: 10px;
}

.produto img {
    max-width: 200px;
    max-height: 250px;
    transition: max-width 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.produto img:hover {
    max-width: 250px;
    max-height: 300px;
}
.produto .preco {
    font-weight: bold;
    color: #333;
    font-size: 20px;
    text-align: center;
}

/* Estilos para o carrinho de compras */
aside {
    position: relative;
    top: -100px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/*pagamento*/

.modal {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 450px;
    position: relative;
    left: 38%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.payment--options {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px;
    padding: 10px;
}

.payment--options button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
}

.payment--options button svg {
    height: 18px;
}

.payment--options button:last-child svg {
    height: 22px;
}

.separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
}

.separator>p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
}

.credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

.split input {
    width: 100%;
}

.input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_field[type=number] {
    -moz-appearance: textfield;
}